h1 {
    margin: 0;
}

.index-form {
    display: flex;
}

.head-inner {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding: 40px 0 20px;
}

.add-btn {
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #ffa929;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.body-inner {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.search {
    border-bottom: #e0dfde solid 1px;
    width: 13%;
}

.search-txt {
    width: 100%;
    padding: 10px 8px;
    border-radius: 50px;
    margin-bottom: 20px;
    border: #e0dfde solid 1px;
}

.search-btn {
    width: 100%;
    padding: 10px 0;
    background-color: #f5c800;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.search-slt {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    border: #e0dfde solid 1px;
}

.products {
    width: 85%;
}

.product-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    width: 30%;
}

.product-img {
    width: 100%;
    height: auto;
}

.product-str {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 10px;
    background-color: #FFFFFF;
}