p {
    margin: 30px 0 10px 0;
}

.changes-form {
    width: 60%;
    margin: 0 auto;
    padding-top: 80px;
}

.content {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.img {
    margin-top: 30px;
    width: 50%;
}

.product-img {
    width: 100%;
    height: auto;
}

.textbox {
    margin-left: 30px;
    width: 50%;
}

.txt {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: gray solid 1px;
}

.season label {
    margin-right: 40px;
}

.explanation {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: gray solid 1px;
}

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.back-btn {
    padding: 10px 70px;
    margin-right: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 5px #ccc;
}

.registration-btn {
    padding: 10px 70px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 5px #ccc;
    background-color: orange;
}

.form-error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}